@model IEnumerable<Post>

<div class="main-image">
</div>

<div>
    @foreach (var post in Model)
    {
        <article class="post">
            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                <span class="post_title">@post.Title</span>
            </a>
            <label class="post_created">Created: @post.Created.ToString("g")</label>
        </article>
    }
</div>